// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import 'bootstrap-vue/dist/bootstrap-vue-icons.min.css';
@import url('http://fonts.googleapis.com/icon?family=Material+Icons');
@import "vue-select/src/scss/vue-select.scss";

*{
    font-family: 'Nunito';
}

.hover{
    cursor: pointer;
}
.text-bold{
    font-weight: bold;
}


.material-pagination li {
    list-style: none;
}