// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

@import 'bootstrap/dist/css/bootstrap.css';
@import 'bootstrap-vue/dist/bootstrap-vue.css';
@import 'bootstrap-vue/dist/bootstrap-vue-icons.min.css';
@import "vue-select/src/scss/vue-select.scss";
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*{
    font-family: 'Nunito';
}

.hover{
    cursor: pointer;
}
.text-bold{
    font-weight: bold;
}


.material-pagination li {
    list-style: none;
}
.material-table{
    border: none;
}

.main-container{
    min-height: calc(100vh - var(--header-height));
}